:host {
  width: 100vw;
  margin: 0 auto;
  display: block;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);

  ::ng-deep {
    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
  }
}
.edit {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 35px;
  padding: 15px  0;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 500;
  max-width: 1130px;
  margin: 0 auto;
  &__return {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 20px;
    color: #74767a;
    &-badge {
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: #0090bd;
    }
  }
  &__way {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 24px;
  }
  &__button {
    color: #11397e;
  }
  &__form {
    display: flex;
    gap: 13px;
    padding-bottom: 20px;

    ::ng-deep {
      mat-form-field {
        flex: 1;
      }

      .destination-select {
        flex-direction: row;
        gap: 13px;
      }

      app-destination-info {
        flex: 1;
      }

      .destination-info {
        gap: 13px;
      }
    }
  }
}
@media (max-width: 580px) {
  .edit{
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 1200px) {
  .edit{
    padding-left: 20px;
    padding-right: 20px;
  }
}
