:host {
  margin-top: 40px;

  ::ng-deep {
    .mdc-button__label {
      display: flex;
      gap: 20px;
      align-items: center;
    }
  }
}

.login {
  &-wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .error-message {
      background-color: lightpink;
      border-radius: 5px;
      padding: 10px;
      font-weight: bold;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .form__forgot-password {
      align-self: flex-end;
      font-size: 14px;
      color: #11397E;
      font-weight: bold;
      text-decoration: none;
    }
  }
}

fieldset {
  border: none;
  border-top: 1px solid #000;

  legend {
    text-align: center;
  }
}
