:host {
  width: 100%;
  background: #F1F3F6;
  margin-top: 97px;
}

.container {
  max-width: 1128px;
  margin: 0 auto;
}
.not-found{
  margin-top: 40px;
  width: 100%;
  text-align: center;
}

h1{
  color: #11397E;
  font-size: 26px;
  font-weight: 700;
}
