:host {
  display: flex;
  flex: 1 1 auto;
  background-image: url("~src/assets/background.png");
  min-height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 20px;
}
