<div class="footer">
  <div class="container">
    <span class="copy">© 2023, AIRWAY. All rights reserved.</span>
    <div class="payment">
      <span>We accept these payment methods</span>
      <div class="payment-icons">
        <img src="assets/mastercard.png" alt="Mastercard" />
        <img src="assets/amazon-pay.png" alt="Amazon Pay" />
        <img src="assets/american-express.png" alt="American Express" />
        <img src="assets/visa.png" alt="Visa" />
      </div>
    </div>
  </div>
</div>
